/*degradado sacado en pag cssgradient.io*/
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,87,1) 35%, rgba(0,212,255,1) 100%); 
    font-family: sans-serif;
    color: white;
}
main{
    width: 730px;
    margin: 100px auto 50px;
    display: flex;
    align-items: center;
}
.section1{
    background-color: rgba(255,252,255,0.2);
    padding: 0 10px 10px 10px;
    border-radius: 8px;
}
h1{
    text-align: center;
}
#nombreUsuario{
    text-align: center;
}
button{
    height: 100px;
    width: 100px;
    font-size: 40px;
    color: white;
    font-weight: bold;
}
/*al pasar el cursor encima el puntero se vuelve  una mano*/
button:hover{
    cursor: pointer;
}
.section2{
    background-color: rgba(255,255,255,0.2);
    width: 240px;
    height: 400px;
}
.estadisticas{
    border: 1px solid white;
    height: 105px;
    border-radius: 8px;
    padding: 8px 20px;
    box-sizing: border-box; /*para no salirse del contenedor*/
    margin-left: 40px;
}